#choropleth_map {
	top:900px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	position: absolute;
	font-family: Gerial;
}

body{
	zoom:0.9;
}

#globe {
	font-family: Gerial;
}

#periodical_text{
	font-size: 15pt;
	font-family: Geliat;
}

#country_detail{
	font-family: Geliat;
	font-size: 18pt;
}

#label{
	font-size: 32pt;
	font-family: Geliat;
	text-align: center;
	font-weight: bold;
}

#country_name{
	font-size: 30pt;
	font-family: Geliat;
	text-align: center;
	font-weight: bold;
	color: #629e9c;
}

#region{
	font-size: 28pt;
	font-family: Geliat;
	text-align: center;
	font-weight: bold;
	color: #217572;
}

#scatterplot{
	font-family: Gerial;
}

@font-face {
	font-family: Geliat;
	src: url(assets/font/Geliat-ExtraBold.otf) format("opentype");
	font-weight: normal;
}

@font-face {
	font-family: Geliat;
	src: url(assets/font/Geliat-ExtraLight.otf) format("opentype");
	font-weight: bold;
}